// this is variable files
// font familiy
$primary-font: 'Barlow Condensed', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$for-main-one:'Quicksand', sans-serif;

// text color
$primary-color: #130f40;
$accent-color: #ff7800;


$text-red:red;
$white-color: #fff;
$title-text: #2B2B2B;
$sub-title: #8a7e80;
$black-text:black;
$midle-text-color:#C69974;
$btn-normal-color:#C7A383;


// background color
$back-pink:#CEA17E;